:root {
    --color-dark-blue: #202047; 
    --color-grayish-blue: #B9B9CE;
    --color-white: #FFF;
    --color-shadow: rgba(74, 63, 219, 0.5); // #202047

    --ff-body: 'Inter', sans-serif;
    --fw-light: 300;
    --fw-medium: 500;
    --fw-bold: 700;
}

$bp-desktop: 90em; // 1440px

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #F2F2F2;
    overflow-x: hidden;

    // center content on page
    display: grid;
    place-content: center;
    min-height: 100vh;

    font-family: var(--ff-body);
    font-weight: var(--fw-light);
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--color-dark-blue);
}
